<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>
 
<div class="container mb-5">
    <div class="card">
      <div class="card-header">
        <h1>Editar Cliente</h1>
      </div>
  
      <div class="card-body">
        <form action="/clientes/update" method="post">
          <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="inputGroup-sizing-sm"
              >Nome do Cliente</span
            >
            <input
              type="text"
              class="form-control"
              name="nome"
              aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-sm"
              value="<%= cliente.nome %>"
              required
            />
          </div>
          <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="inputGroup-sizing-sm"
              >CPF do Cliente</span
            >
            <input
              type="text"
              class="form-control"
              name="cpf"
              aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-sm"
              value="<%= cliente.cpf %>"
              required
            />
          </div>
          <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="inputGroup-sizing-sm"
              >Endereço do Cliente</span
            >
            <input
              type="text"
              class="form-control"
              name="endereco"
              aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-sm"
              value="<%= cliente.endereco %>"
              
              required
            />
            <input type="hidden" name="id" value="<%= cliente.id %>" >
          </div>
          <input
            type="submit"
            class="btn btn-outline-success"
            value="Editar"
            onclick="return confirm('Confirma as alterações para o cliente <%= cliente.nome %>?')"
          />
        </form>
        <hr />
      </div>
    </div>
  </div>